html,body{
    margin: 0;
    height: 100%;
    background-image: url(../assets/images/back5.jpg);
  }
  .wrap-div{
    margin: 0;
    height: 100%;
  }
  .main-card{
    margin-left: 20%;
      background-color: #EEEEEE;
      margin-right: 20%;
  }