html,
body {
  width: 100%;
  height: 100%;

  background-image: url(../assets/images/back5.jpg);
}

.card-shadow-changer :hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wrap-div {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
.main-card {
  background-color: #eeeeeed0;
}

.debitcard {
  border: none;
  width: 400px;
  border-radius: 12px;
  color: #fff;
  background-image: linear-gradient(
    to right top,
    #280537,
    #56034c,
    #890058,
    #bc005b,
    #eb1254
  );
}

.number span {
  font-size: 20px;
  font-weight: 600;
}

.cardholder,
.expires {
  font-weight: 600;
  font-size: 17px;
}

.name,
.date {
  font-size: 15px;
}

.card-border {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border: none;
  border-radius: 6px;
  background-color: blue;
  color: #fff;
  background-image: linear-gradient(
    to right top,
    #0c0537,
    #440b51,
    #7f005d,
    #b9005b,
    #eb124b
  );
}
/* ---------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100px;
  max-width: 100px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  justify-content: space-between;
}
.sidebar img {
  width: 80%;
  margin: 5%;
}
.sidebar .buttons {
  
  bottom: 1rem;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.logoText {
  font-size: x-large;
  font-weight: bolder;
  margin: 5%;
  text-align: center;
}
.sidebar a.active {
  text-align: center;
  color: white;
}
.sidebar a img {
  width: 40px;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: rem;
    position: relative;
  }
  .sidebar .logoText {
    font-size: large;
    margin: 0;
    padding: 1rem;
  }
  .sidebar .buttons {
    margin-top: 5px;
    padding: 0;
    bottom: unset;
    right: 0;
  }
  .sidebar .buttons a {
    padding: 0;
  }
  .sidebar .buttons a img {
    width: 2.5rem;
    height: auto;
  }
  .sidebar img {
    height: 3rem;
    width: auto;
    margin: 10px;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
}
.main-card {
  background-color: #eeeeee;
}
