
@{
    ViewBag.Title = "ForgetPassword";
}
@section AddToHead
{
    <link href="@Url.Content("~/Content/ForgetPassword.css")" rel="stylesheet" type="text/css" />
}

<div class="pt-5 wrap-div">
    <div class="card border-0 shadow main-card">
        <div class="card-body">
            <div class="text-center mb-5 mt-5">
                <h2>Security Questions</h2>
            </div>
            <form action="./1_SignIn.html">
                <div class="m-3">
                    <label for="bplace">What is your birth place?</label>
                    <input type="text" name="bplace" id="" class="form-control form-control-md" />
                </div>
                <div class="m-3">
                    <label for="bplace">What is your pet name?</label>
                    <input type="text" name="bplace" id="" class="form-control form-control-md" />
                </div>
                <div class="m-3">
                    <label for="bplace">What is your Favourite food?</label>
                    <input type="text" name="bplace" id="" class="form-control form-control-md" />
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="text-center">
                        <button class="btn btn-primary mx-5">Verify</button>
                    </div>
                </div>
                <div class="m-3">
                    <label for="floatingTextarea">Password</label>
                    <input type="password" name="" id="" class="form-control" />
                </div>
                <div class="m-3">
                    <label for="floatingTextarea"> confirm Password</label>

                    <input type="password" name="" id="" class="form-control" />
                </div>

                <div class="text-center mt-4 mb-2 d-flex flex-row-reverse mx-5">
                    <button class="btn btn-primary mb-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

