@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/signin.css")" rel="stylesheet" type="text/css" />
}
<div class="container-fluid page">
    <div class="row m-0 page-row">
        <div class="imageContainer col-md-7" style="padding-top: 3%">
            <img src="~/Images/LoginImg.png" alt="Sample image" />
        </div>
        <div class="col-md-5 col-sd-12 login-div">
            <form action="/Snap/Home/" class="mt-5">
                <div class="my-4" style="justify-content: center">
                    <h4 class="text-center fw-bold mx-5 mb-0">LOG INTO SNAP</h4>
                </div>
                <!-- Account Number -->
                <div class="mb-4">
                    <input type="number" class="form-control" placeholder="Account Number" />
                </div>
                <!-- PIN -->
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="six digit pin" />
                </div>
                <div class="my-4" style="justify-content: center">
                    <p class="text-center fw-bold mx-5 mb-0">OR</p>
                </div>
                <!-- User Name -->
                <div class="mb-4">
                    <input type="text" class="form-control" placeholder="User Name" />
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" />
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" />
                        <label class="form-check-label" for="form2Example3">
                            Remember me
                        </label>
                    </div>
                    <a href="/Snap/ForgetPassword/" class="text-body">Forgot password?</a>
                </div>

                <div class="text-center text-lg-start mt-3 pt-2 mb-5">
                    <button type="submit" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem">
                        Login
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Don't have an account?
                        <a href="/Snap/Register/" class="link-danger">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

