
@{
    ViewBag.Title = "PaymentSuccess";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/PaymentSuccess.css")" rel="stylesheet" type="text/css" />
}
<div class="row">
    <div class="col-md-3 col-sd-1">

    </div>
    <div class="col">
        <div class="d-flex flex-column align-items-center">
            <div class="success-image pt-5 d-flex justify-content-center">
                <img src="~/Images/check.png" alt="">
            </div>
            <div class="h2 mt-5">PAYMENT SUCCESSFUL</div>
            <div class="h5 mt-3">To NAME OF THE RECEIVER</div>
            <div class="d-flex flex-column mt-4">
                <button type="button" class="btn btn-primary m-3" style="padding-left: 2.5rem; padding-right: 2.5rem"
                        onclick="location.href='/Snap/Home'">
                    HOME
                </button>
                <button type="button" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem"
                        onclick="location.href='/Snap/FundTransfer/'">
                    MAKE ANOTHER PAYMENT
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sd-1">

    </div>
</div>

